.wrapper {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: white;
  position: relative;
  margin: auto;
  background: #DAE2F8;
  background: -webkit-linear-gradient(#DAE2F8, #D6A4A4);
  background: linear-gradient(#DAE2F8, #D6A4A4);
  width: 60%;
  border-radius: 25px;
}

h1 {
  text-align: center;
  padding-top: 10px;
}

h2 {
  border-bottom: 1px solid white;
}

#dropdown {
  background-color: rgba(140, 140, 140, 0.3);
  color: white;
  border: none;
  border-radius: 4px;
  padding-left: 38px;
  padding-right: 38px;
  text-align: center;
}

.mainData-wrapper {
  text-align: center;
  background: rgba(140, 140, 140, 0.3);
}

.currentTemp {
  font-size: 74px;
  margin-top: 20px;
  display: block;
  padding-left: 25px;
}

.desc {
  font-size: 44px;
  margin-top: 0px;
  display: block;
}

.data {
  font-size: 24px;
  margin-top: 0px;
  display: inline-block;
  padding-right: 15px;
  padding-left: 8px;
}

.forecastData-wrapper {
  position: relative;
  margin: auto;
  background: rgba(140, 140, 140, 0.3);
  padding: 10px;
}

table {
  width: 100%;
}

tr {
 border-bottom: 1px dashed white;
}

tr:nth-child(5) {
  border-bottom: none;
}

td {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

td:nth-child(2){
  text-align: center;
  padding-left: 10px !important;
}

td:nth-child(3){
  text-align: right;
  padding-right: 10px !important;
}


@media screen and (max-width: 768px) {

  .currentTemp {
    font-size: 64px;
  }

  .desc {
    font-size: 24px;
  }

  .data {
    font-size: 20px;
  }
}

@media screen and (max-width: 608px) {

  .wrapper {
    width: 80%;
  }
}

@media screen and (max-width: 468px) {

  .wrapper {
    width: 90%;
  }

  .currentTemp {
    font-size: 54px;
  }

  .desc {
    font-size: 20px;
  }

  .data {
    font-size: 16px;
  }
}

@media screen and (max-width: 373px) {

  .wrapper {
    width: 100%;
  }
}
